.main-menu {
  margin: 0;
  padding: 16px 8px;
  list-style: none;
  border-bottom: 2px solid black;

  &__item {
    display: inline;
    padding: 0 8px;
    border-right: 1px solid black;

    &--last {
      @extend .main-menu__item;
      border: none;
    }

    &__login {
      text-align: right;
      border: none;
      float: right;
    }
  }
}

.content-container {
  padding: 16px;
}